$body-font-size: 16px;
$body-color: #555555;
$larger-font: $body-font-size + 2;
$smaller-font: $body-font-size - 2;

body {
  color: $body-color;
  p { color: $body-color; font-size: $body-font-size; }
  .larger-font-size { font-size: $larger-font; }
  .smaller-font-size { font-size: $smaller-font; }
  a { text-decoration: none; }
  .v-main { background: #ffffff; min-height: 150px; }
  section > .v-responsive { padding-left: 15px; padding-right: 15px; }
  #home { background: #ffffff; }
  .no-flex { flex: none !important; }
  h1, h2, h3, h4, h5, h6 { font-family: Roboto; font-style: normal; font-weight: 300; letter-spacing: -0.01em; }
  h1 { font-size: 60px; line-height: 70px; }
  h2 { font-size: 48px; line-height: 56px; }
  h3 { font-size: 36px; line-height: 42px; }
  h4 { font-size: 30px; line-height: 35px; }
  h5 { font-size: 24px; line-height: 28px; }
  h6 { font-size: 18px; line-height: 21px; }
  header {
    border: 1px solid #e1e1e1;
    .advanced-search-link {
      font-size: 11px;
    }
    &.checkout-process-header {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      z-index: 1000;
      .nav-badge {
        background-color: #999999;
        color: #ffffff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding-top: 4px;
        text-align: center;

        &.current-page {
          background-color: #1358B5;
        }
      }
    }
  }
  .header-nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 100;
    .v-btn {
      text-transform: none;
      font-size: $smaller-font;
    }
  }
  .store-cart {
    .subscription-types {
      background-color: #f4f4f4;
      border: 1px solid #E1E1E1;
      border-radius: 4px;

      .v-radio { align-items: start; }
      .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
        align-items: start;
      }
    }
    .cart-items {
      .item-image { border-radius: 4px; }
      .item-name {
        font-size: 18px;
        a { color: $body-color; }
      }
      .item-department { background-color: #F4F4F4; font-size: $smaller-font; color: #777777; border-radius: 4px; }
      .remove-item { font-size: 12px; }
      .item-price { font-size: 24px; }
    }

    .subscription-type-selected {
      .service-item { font-size: $smaller-font; color: #999999; }
    }
  }

  .store-checkout {
    .order-summary {
      .item-image { border-radius: 5px; vertical-align: middle; }
      .item-name {
        a { color: #555555; }
      }
      .mini-cart-footer { background-color: #f4f4f4; }
    }
    .payment-methods {
      .payment-item {
        background-color: #f4f4f4;
        border-radius: 4px;
        border: 1px solid #E1E1E1;

        &.selected {
          background-color: #ffffff;
          border-color: #1358B5;
        }
      }
    }
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    padding: 0;
    text-transform: uppercase;
  }
}
